* {
    font-family: 'Lemonada', cursive;
}

main {
    width: 500px;
    height: 500px;
    background: black;
    align-content: center;
    color: white;
}

h2, p{
    text-align: center;
}

#result{
    text-align: center;
}

.scoreboard {
    text-align: center;
}



#moveButtons {
    padding-top: 10%;
    padding-left: 20%;
    align-content: center;
}